/* CSS classes for navbar appearance */
.navbar-default{background-color: black;}
.navbar-default.top-of-page{background-color: transparent;}

.tedx-nav {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color:black;
    /* height: 20px; */
}

#imgNavBarLogo {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:18%; 
    padding-left: 5%;
    padding-top: 2px;
}

#headerLogo {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /* width: 100px; */
    height: 150px;
}

.navItems {
    margin-right: 5%;
}


nav {
    height:7%;
    /* line-height: 30px; */
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height:7%;
}

/* nav .button-collapse i {
    height:7%;
} */

nav .brand-logo { 
    font-size: 1.6rem; 
}


/*if media below 500px, resize */
@media only screen and (max-width: 770px){
    .dropdown-content li {
        /* width: 20%; */
    }
}

/*if media above 500px, resize*/
//if screen size is larger than 770px resize 
@media only screen and (mid-width: 770px){

}

.dropdown-content{
    border: 0!important;
    box-shadow: none!important;
    background-color:  #18020262;;
    padding-top: 40px;
    /* font-size: 2pt; */
    /* width: max-content !important;
    height:auto !important; */
}


.dropdown-content li:hover {
    background-color: rgba(227, 50, 42, 0.40);
}

.dropdown-content li {
    border: 0!important;
    box-shadow: none!important;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size:14px;
    color: #eeeeee;
    display: block;
    line-height: 14px;
    padding: 14px 16px;
}


.animation-logo {
    width: 45%;
    min-width: 375px;
    vertical-align: middle;
}

.section-anim {
    height: 100vh;
    width: 100%;
    background: url(../img/backgroundConstruction.png) no-repeat center center fixed; 
    /* background: url(../gif/TEDconstruction.gif) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* If  screen is below 500px, aka mobile, resize accordingly.*/
@media only screen and (max-width: 770px) {
    .animation-logo {
        margin-top: 50px;
    }
}

/* If screen size is larger than 700px, resize accordingly. */
@media only screen and (min-width: 770px) {
    .animation-logo {
        margin-top: -70px;
    }
}