
#imgBanner {
    width:100%; 
    margin-bottom: -3%;
}

#imgSlider {
    /* width:100%; */
    margin-top: -5%;
}

#aboutSlider {
    /* width:100%; */
    margin-top: -5%;
}

#fact-box-1 {
    text-align: center;
    background-color: #000000;
    line-height: 50px;
    color: white;
}

#fact-box-2 {
    text-align: center;
    background-color: #4E160D;
    line-height: 50px;
    color: white;
}

#fact-box-3 {
    text-align: center;
    background-color: #9C2C1A;
    line-height: 50px;
    color: white;
}

#fact-box-4 {
    text-align: center;
    background-color: #EB4327;
    line-height: 50px;
    color: white;
}

.row {
    display:block;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.responsive-img {
    margin-bottom:0;
}

#applicationStrip {
    background-color:#000000;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.page-footer {
    background-color: #000000;
    padding-bottom: 15px;
}

ion-icon {
    font-size: 60px;
}
